$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Dosis', sans-serif;
$main-blue:#337ab7;
$footer-height: 45px;

.navbar-default {
    font-family: $secondary-font;
    background-color: #1C54FF;
}

.navbar-default .navbar-brand {
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    color: $main-blue;
    
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f2dede;
    background-color: #286090;
}

.navbar-default .navbar-nav > li > a {
    color: #d9edf7;
    font-size:20px;
}

.brand {
  height: 65px;
}

html,body {
    font-family: $primary-font;
   color: #286090;
   background: url(gGkqaE.jpg) no-repeat right center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
.footer {
  height: $footer-height;
      color: #286090;
}

.card {
  background: rgba(0,0,0,0.1);
  padding:20px 0px 20px 50px;
}